

<% if @orders.length == 0 %>
  <h2>You havn't ordered anything yet!</h2>
<% else %>
<h1>Orders</h1>
<table style="margin-bottom: 50px;">
  <thead>
    <tr>
      <th>Order date</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_date %></td>
        <td><%= @user.email %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order, :class =>"button" %></td>
        <td><%= link_to 'Edit', edit_order_path(order), :class =>"button" %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>