<div id="itemsContainer">
<p id="notice"><%= notice %></p>
<h1>Order Details</h1>
<table id="customers" style="margin-bottom: 0;">
 <tr>
 <td>Order Date</td>
 <td>Ordered By</td>
 <td>Order Status</td>
 </tr>

 <tr>
 <td><%= @order.order_date %></td>
 <td><%= @order.user %></td>
 <td><%= @order.status %></td>

 </tr>

 </table>
 <%= link_to 'Edit', edit_order_path(@order), :class =>"button" %>
 <%= link_to 'Back', orders_path, :class =>"button" %>

 
<h2>Order Items</h2>
<table id="customers">
 
 <% if !@orderitems %>
   <h1>NO ITEMS</h1>
 <% else %>
 <tr>
  <td>Created at</td>
  <td>Title</td>
  <td>Order ID</td>
 </tr>
 <% @orderitems.each do |orderitem| %>
 <tr>
 <td><%= orderitem.created_at %></td>

 <td><%= orderitem.title %></td>
 <td><%= orderitem.order_id %></td>

 </tr>
 <% end %>
 <tr></tr>
 </table>
 <% end %>

<%= link_to 'Edit', edit_order_path(@order), :class =>"button" %>
<%= link_to 'Back', orders_path, :class =>"button" %>
 </div>

