<p id="notice"><%= notice %></p>

  <h1>Products</h1>
 <div id="productContainer">
  
     
      <% @products.each do |product| %>
      <div class="producthols">
        <h1><%= product.title %></h1>
       
        <%= link_to (image_tag product.image_url, :class => "productholsIm"), product %>
        <p><%= truncate(product.description, length: 150) %> <%= link_to '(Read More)',  product %></p>
        
        <div class="product-info">
          <div class="product-info-price">
            <span>
              Price
            </span> 
            <span>
              <%= number_to_currency(product.price, :unit => "€") %>
            </span>
          </div>
          <div class="product-info-category">
            <span>
              Category
            </span>
            <span>
              <%= product.category %>
            </span>
          </div>
        </div>
       
        <div class="product-button-holder">
          <a href="/cart/<%= product.id %>" class="button"><i class="fas fa-cart-plus"></i> Add to Cart</a>
          <%= link_to '<i class="far fa-eye"></i> Show'.html_safe,  product, :class => "button", :role => "button" %>
          <% if current_user.try(:admin?) %>
            <%= link_to '<i class="far fa-edit"></i>'.html_safe,  edit_product_path(product), :class => "product-edit-button", :role => "button" %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,  product, 
                method: :delete, data: { confirm: 'Delete this product?' }, :class => "product-delete-button", :role => "button" %>
          <% end %>
        </div>
        
      </div>
   
    <% end %>
    <%= render 'layouts/footer' %>
      
</div>




