<p id="notice"><%= notice %></p>

<div id="productContainer">
  
     
      
      <div class="product-show">
        <h1><%= @product.title %></h1>
        <div class="product-desc">
          <%= link_to (image_tag @product.image_url, :class => "product-desc-img"), @product %>
          <p><%= @product.description %></p>
        </div>
        <div class="product-details">
          
          <p>Price: <%= number_to_currency(@product.price, :unit => "€") %></p>

          <p>Category: <%= @product.category %></p>

          
        </div>
       
        <p class="product-buttons">
          <%= link_to 'Show',  @product, :class => "button", :role => "button" %>
          <% if user_signed_in? %>
            <%= link_to 'Edit',  edit_product_path(@product), :class => "button", :role => "button" %>
            <%= link_to 'Destroy',  @product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
          <% end %>
          <%= link_to 'Back', products_path, :class => "button", :role => "button" %>
        </p>
        
      </div>
   
 
      
</div>

