<div class="menu-button" id="menu-button"></div>
<div class="title">
    <h1>DON'T PANIC</h1>
</div>

<ul class="nav">
    <li class="nav-item">
        <%= link_to 'Home <i class="fas fa-home"></i>'.html_safe, root_path, :class => "nav-link" %>
        </li>
    <li class="nav-item"><%= link_to 'Shop <i class="fas fa-shopping-basket"></i>'.html_safe, products_path, :class => "nav-link" %></li>
    <li class="nav-item"><%= link_to 'About <i class="fas fa-info-circle"></i>'.html_safe, about_path, :class => "nav-link" %></li>
    <li class="nav-item"><%= link_to 'Cart <i class="fas fa-shopping-cart"></i>'.html_safe, cart_path, :class => "nav-link" %></li>
    <% if user_signed_in? %>
        <!--<li class="nav-item"><%# link_to "My Orders", orders_path, :class => "nav-link" %></li>-->
        <li class="nav-item"><%= link_to 'Profile <i class="fas fa-user"></i>'.html_safe, profile_path, :class => "nav-link" %></li>
        <% if current_user.try(:admin?) %>
            <li class="nav-item"><%= link_to 'Admin <i class="fas fa-unlock-alt"></i>'.html_safe, admin_path, :class => "nav-link" %></li>
        <% end %>
        <li class="nav-item"><%= link_to 'Log Out<i class="fas fa-sign-out-alt"></i>'.html_safe, destroy_user_session_path, :method => :delete, :class => "nav-link" %></li>
    <% else %>
        <li class="nav-item"><%= link_to 'Register <i class="fas fa-user-plus"></i>'.html_safe, new_user_registration_path, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Log In <i class="fas fa-sign-in-alt"></i> '.html_safe, new_user_session_path, :class => "nav-link" %></li>
    <% end %>
    <li class="nav-item"><%= render 'layouts/search' %></li>
    
    <!--This parts here adds a little cart information box at the end of the navigation menu-->
    <!--if there are items in the cart.-->
    <li class="nav-item">
        <% if session[:cart] %>
        
            <!--Here i get the cart session, and set a counter variable "total" to 0-->
            <% cart = session[:cart] %>
            <% total = 0 %> 
            
            <!--Here i do a loop through every item in the cart-->
            <!--For each item, i basically add the total of each item, to the total variable above-->
            <% cart.each do |id, quantity| %>
                <% product = Product.find_by_id(id) %>
                <% total += quantity * product.price %>
            <% end %>
            
            <!--Then here, i use that information to display the cart info in the site navigation-->
            <a href="/cart">
                <div class="mini-cart" style="color:white;">
                    <p>Your Cart</p>
                    <div>Items: <%= cart.length %></div>
                    <div>Total: <%= number_to_currency(total, :unit => "€") %></div>
                </div>
            </a>
        <% end %>
    </li>
</ul>