    <h2>Popular Products</h2>
<div class="productContainer">
    <% @products.limit(2).order(:id).each do |product| %>
          <div class="producthols" style="margin-bottom: 50px;">
            <h1><%= product.title %></h1>
           
            <%= link_to (image_tag product.image_url, :class => "productholsIm"), product %>
            <p><%= truncate(product.description, length: 150) %> <%= link_to '(Read More)',  product %></p>
            <p>Price <%= number_to_currency(product.price, :unit => "€") %>
            <br>
            Category: <%= product.category %>
            <br>
            </p>
           
            <p>
              <a href="/cart/<%= product.id %>" class="button">Add to Cart</a>
              <%= link_to 'Show',  product, :class => "button", :role => "button" %>
              <% if user_signed_in? %>
                <%= link_to 'Edit',  edit_product_path(product), :class => "button", :role => "button" %>
                <%= link_to 'Destroy',  product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
              <% end %>
            </p>
            
          </div>
       
        <% end %>
    
</div>
